@import '../../../assets/style/color.scss';

.menu-item {
  color: $opposite;
  text-align: center;
  padding: 8px 30px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 5px;
  transition: background-color ease 0.3s;
  &:hover {
    color: $light-main;
  }
  &.active-menu {
    background-color: $light-main;
    color: $main;
  }
}
