@import '../../assets/style/color.scss';

.tpl-table-head {
  color: $opposite;
  th {
    padding: 10px 0;
    text-align: center;
  }
}
.tpl-table-body {
  th {
    font-weight: normal;
    padding: 10px 0;
    text-align: center;
  }
  .tpl-item-name {
    color: $light-main;
  }
  .tpl-item-meta {
    color: $highlight;
  }
}

.tpl-fresh {
  margin: 10px 20px;
  padding: 5px 30px;
}
