@import '../../assets/style/color.scss';

.create-btn {
  margin: 10px 20px;
  margin-right: 0;
}

.project-item-name {
  color: $light-main;
}

.project-item-template {
  color: $highlight;
}

.project-item-description {
  color: $third;
}

.project-item-btn {
  margin-left: 5px;
}
