@import '../../assets/style/color.scss';

.scroll-wrapper {
  height: 600px;
  overflow-y: scroll;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
}

.list-container {
  column-count: 3;
  width: 100%;
  column-gap: 1em;
  .card-item {
    break-inside: avoid;
    margin-bottom: 10px;
    .card-title {
      font-size: 14px;
    }
  }
}

.task-btn-group {
  margin-bottom: 10px;
}
